<!DOCTYPE html>
<html lang="en" dir="ltr">


  <head>
    <meta charset="utf-8">
    <title>Tynza</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>


    <header>
      <a class="header-nav" aria-current="page" href="/home">Home</a>
      <a class="header-nav" aria-current="page" href="/groups">Groups</a>
      <a class="header-nav" aria-current="page" href="/feedback">Feedback</a>
      <a class="header-nav" aria-current="page" href="/profile">Profile</a>

    </header>

    <script>
      // Define a list of tabs and their keywords
      const tabs = [
        { text: 'Home', keyword: 'home' },
        { text: 'Groups', keyword: 'groups' },
        { text: 'Feedback', keyword: 'feedback' },
        { text: 'Profile', keyword: 'profile' }
        // Add more tabs here if needed
      ];

      // Function to set the active class and tab title based on the current URL
      function setActivePage() {
        const currentUrl = window.location.href;

        tabs.forEach(tab => {
          // Check if the current URL contains the keyword of the tab
          if (currentUrl.includes(tab.keyword)) {
            // Set the tab title to the tab's text
            document.title = tab.text + " - Tynza";

            // Find the link in the navigation bar with the keyword of the tab and mark it as active
            const link = document.querySelector(`.header-nav[href*="${tab.keyword}"]`);
            if (link) {
              link.classList.add('active');
            }
          }
        });
      }

      // Call the function to set the active class and tab title on page load
      window.onload = setActivePage;
    </script>
