<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tynza</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>


    <header>
      <a class="header-nav" aria-current="page" href="/home">Home</a>
      <a class="header-nav" aria-current="page" href="/groups/">Groups</a>
      <a class="header-nav" aria-current="page" href="/home">Leaderboard</a>
      <a class="header-nav" aria-current="page" href="/profile">Profile</a>

    </header>
