<%- include('partials/header'); -%>

<div class="home-empty-container">
  <div class="home-empty">
    <img style="max-width=100%;height=auto;margin:80px;" src="/images/homeEmpty.svg" alt="No group Created.">
    <p>Start your journey by creating your first group.</p>
    <a style="color:white;font-size:20px;background-color:#314CF9;padding:8px 12px; border-radius:10px;" href="/groups/groupForm">New Group</a>
    </div>
</div>





<%- include('partials/footer'); -%>
