header{
  position: sticky;
  top: 0;
  z-index: 999;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 2px 2px 2px #DAF5FF,
              -2px -2px 2px #DAF5FF,
              2px -2px 2px #DAF5FF,
              -2px 2px 2px #DAF5FF;
}

h1 {
  font-size: 50px;
  color: #000;
  padding: 10px;
}
p{
  margin: 0;
  padding: 10px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {

  margin-left: 20px;
}


.header-nav{
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px
}


.nav-link{
  margin-right: 20px;
}

body{

    min-height: 100vh;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    margin: 0;
    font-family: 'Arvo', serif;
    font-size: 20px;
}

.heading{
  display: flex;
  justify-content: center;
}


.dashboard{

  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: 10px;
}

.partition{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}


.cards{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 250px;
  height: 250px;
  margin: 10px;
  padding: 10px;
  background-color: #FDCEDF;
  border-radius: 10px;

}


.cards:hover{
  background-color: #F2BED1;
  cursor: pointer;
  box-shadow: 2px 2px 2px #F8E8EE;
}



.items{
  display: flex;

}


.add-item{
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  flex: 1;
}
button{
    border-color: transparent;
    border-radius: 10%;
}





a:link {
  color: #4E3636;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #4E3636;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  border-radius: 5px;
  color: #068FFF;

}

a:active {
  color: #FCAEAE;
  background-color: transparent;

}

footer{
  margin: auto 0;
  display: flex;
  justify-content: center;
}



.one-group-at-home{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 250px;
  height: 340px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #9DB2BF;
  background-color: #B0DAFF;
  border-radius: 10px;
}


.one-group-at-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #B0DAFF;
  box-shadow: 5px 5px 10px #0000;
  border-radius: 10px;
  min-width: 250px;
  min-height: 250px;
  border: 1px solid #9DB2BF;
  margin: 10px;
  padding: 10px;
  flex-grow: 1;
  flex: 0 0 auto;
}

.group-name-home{
  font-weight: bold;

}

.login-form{
  margin: 10px;
}

.one-task{
  display: flex;
  flex-direction: row;
  align-items: center;
  word-break: break-word;
}

.one-task-content{
  display: flex;
  flex-direction: row;
}

.one-task-options{
margin-left: auto;
}




.login-page {
  display: flex;
  height: 100vh;
}

.image-space-login {
  flex: 1;
  background-color: #EFF1FE; /* Set background color for the left part */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffff; /* Set background color for the right part */
}


.lable-input{
  width: 300px;
  display: flex;
  flex-direction: column;
}

.button-login{
  background-color: #314CF9;
  border-radius: 10px;
  width: 300px;
  display: flex;
  margin-top: 20px;
  justify-content: center;

}
.button-login-google{
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;

}

a.btn-outline-dark:hover{
  color: black;
  background-color: white;
  box-shadow: 1px 1px 3px grey;
}

.login-page-button{
  color: white;
  width: 100%;
  background-color: #314CF9;
  border-radius: 10px;
}


.signup-button-area{
  margin-top: 0px;
  font-size: 15px;
}

.signup-label{
  font-size: 15px;
}

.signup-text{
  color: blue;
}


.lable-error{
  color: red;
  font-size: 15px;
}



.group-page {
  display: flex;
  height: 80vh;
}


.task-complete {
  text-decoration: line-through;
  text-decoration-color: #FFB4B4;
}

.task-incomplete {
  text-decoration: none;
  text-decoration-color: #B2A4FF;
}





.group-names{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.group-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #9DB2BF;
  background-color: #B0DAFF;
  border-radius: 10px;
}

.image-at-login {
  text-align: center; /* Center the image horizontally within its container */
  display: flex; /* Enable flexbox layout */

  justify-content: center; /* Center child elements vertically */
}

.image-at-login img{
  max-width: 70%;
  max-height: 70%;
}


.line-with-text {
  position: relative;
  text-align: center;
  padding: 0 30px;
}

.line-with-text::before {
  content: '';
  display: block;
  border-top: 1px solid grey;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.centered-text {
  display: inline-block;
  background-color: white;
  padding: 0 10px;
  position: relative;
  z-index: 1;
  font-size: 15px;
  color: grey;
}

input[type="checkbox"]:checked  {
  background-color: red; /* Change this to the desired background color */
}

.task-complete {
  text-decoration: line-through;
  text-decoration-color: #F11A7B;
  text-decoration-style: dashed;
}


.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.popup-button-yes{
  background-color: #F11A7B;
  color: white;
  margin: 20px;
}

.popup-button-no{
  background-color: #314CF9;
  color: white;
  margin: 20px;
}

.popup-button-yes:hover{
  background-color: #D71313 ;
  color: white;
  cursor: pointer;
  margin: 0;
}

.popup-button-no:hover{
  background-color: #0D1282 ;
  color: white;
  cursor: pointer;
  margin: 0;
}

button:hover{
  background-color: #0D1282 ;
  color: white;
  cursor: pointer;
}
